/* CUSTOM PROPERTIES */
:root {
    --primary-color:#6F0B1D;
    --primary-variant-color:#A00B27;
    --background-color:#F8F7F2;
    --card-color:#EDE9D2;
    --primary-text:#121212;
    --secondary-text:#FFFFFF;
  }
  