<footer>
  <div class="newsletter">
    <h4>Join our newsletter</h4>
    <input type="email" placeholder="jens-jensen@gmail.com" />
    <button>Join</button>
  </div>
  <div class="social-icons">
    <a href="#"><img src="../facebook.svg" alt="Facebook" /></a>
    <a href="#"><img src="../x.svg" alt="X" /></a>
    <a href="#"><img src="../instagram.svg" alt="Instagram" /></a>
    <a href="#"><img src="../linkedin.svg" alt="LinkedIn" /></a>
    <a href="#"><img src="../youtube.svg" alt="YouTube" /></a>
  </div>
</footer>

<style>
  img {
    width: 6.5%;
  }
</style>
