---
const { data } = Astro.props;
import Button from "../components/Button.astro";
---

<article>
  <img src={data.image} alt="Speaker Image" />
  <h2>{data.name}</h2>
  <h3>{data.position}</h3>
  <a href={`speakerlist/${data.slug}`}>
    <Button />
  </a>
</article>
